<h1>My favorite links</h1>

<!-- @fav_links = ['http://www.twitter.com', 'http://www.reddit.com', 'http://www.nooooooooooooooo.com/'] -->

<% @fav_links.each do |link| %>

<a href="<%= link %>">Here's A Link!</a>

<% end %>
